<DocsHero
  @prefix=''
  @heading='ember-jsQR'
  @byline='an integration with a very fast QR Code scanner'
/>

<div class="docs-container docs-md docs-my-16">
  <section class="docs-section docs-max-w-md docs-mx-auto docs-pb-8">
    <h2>Introduction</h2>

    <p>
      ember-jsqr is a small addon that implements a specific use case for
      integrating with jsqr. It assumes:
      <ul>
        <li>you want visual indication of when a QR Code is detected</li>
        <li>you want to be in control of selecting the camera</li>
        <li>you want to be in control of when to start / stop scanning</li>
      </ul>
    </p>

    <div class="docs-my-5 docs-text-right">
      {{#docs-link "docs"}}
        <button
          type="button"
          class="docs-bg-grey-darkest docs-text-white docs-py-2 docs-px-4 docs-no-underline docs-rounded hover:docs-bg-black"
        >
          Get started &rarr;
        </button>
      {{/docs-link}}
    </div>
  </section>
</div>
