<DocsHero
  @prefix=''
  @heading='ember-jsQR'
  @byline='an integration with a very fast QR Code scanner'
/>

<div class="docs-container docs-md docs-my-16">
  <section class="docs-section docs-max-w-md docs-mx-auto docs-pb-8">
    <H2 class='docs-text-large-1'>Introduction</H2>

    <p>
      <em>ember-jsqr</em> is a small addon that implements a specific use case for
      integrating with
      <ExternalLink href='https://github.com/cozmo/jsQR'>
        jsqr
      </ExternalLink>
      without adding to your bundle size.
      <br>
      jsQR is
      <ExternalLink href='https://bundlephobia.com/result?p=jsqr@latest'>45Kb</ExternalLink> (min+gzip).

      <br><br>
      It assumes:
      <Ul>
        <li>you want visual indication of when a QR Code is detected</li>
        <li>you want to be in control of selecting the camera</li>
        <li>you want to be in control of when to start / stop scanning</li>
        <li>you target environments that support dynamic imports
        </li>
      </Ul>
    </p>

    <div class="docs-my-5 docs-text-right">
      {{#docs-link "docs"}}
        <Button>
          Get started &rarr;
        </Button>
      {{/docs-link}}
    </div>
  </section>
</div>
