<button
  type='button'
  class="
    docs-bg-grey-darkest docs-text-white
    docs-py-2 docs-px-4
    docs-no-underline
    docs-rounded
    hover:docs-bg-black"
  ...attributes
>
  {{yield}}
</button>
