name: CI

# Inspiration:
# https://github.com/alexdiliberto/ember-transformicons/blob/master/.github/workflows/ci.yml
on:
  pull_request:
  push:
    # filtering branches here prevents duplicate builds from pull_request and push
    branches:
      - master

env:
  CI: true

jobs:
  lint:
    if: "! contains(toJSON(github.event.commits.*.message), '[skip ci]')"
    name: Lint
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: volta-cli/action@v1
    - name: Install
      run: yarn install
    - name: ESLint
      run: yarn lint:js
    - name: Templates
      run: yarn lint:hbs
    - name: Types
      run: yarn tsc --noEmit
    - uses: wagoid/commitlint-github-action@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GH_PAT }}

  tests_ember_compat:
    if: "! contains(toJSON(github.event.commits.*.message), '[skip ci]')"
    name: Ember Compatability
    runs-on: ubuntu-latest
    strategy:
      matrix:
        scenario:
        - "ember-3.13"
        - "ember-lts-3.16"
        - "ember-release"
        - "ember-beta"
        - "ember-canary"
        - "ember-release-embroider"
    steps:
    - uses: actions/checkout@v2
    - uses: volta-cli/action@v1
    - name: Install
      run: yarn install
    - name: Test with ${{ matrix.scenario }}
      run: yarn test:try-one ${{ matrix.scenario }}

  # https://github.com/ember-learn/ember-cli-addon-docs/issues/437
  deploy-prod:
    name: Production Deploy
    runs-on: ubuntu-latest
    needs: [tests_ember_compat, lint]
    # if: (branch = master OR tag IS present) AND type = push
    # if: success() && github.ref == 'refs/heads/master' && github.event_name == 'push'
    if: success() && github.event_name == 'push'
    steps:
      - uses: actions/checkout@v2
      - uses: volta-cli/action@v1
      - name: Set ENV
        # 'master' or 'v1.2.3'
        run: echo "::set-env name=ADDON_DOCS_VERSION_PATH::${GITHUB_REF##*/}"
      - name: Install
        run: yarn install
      - name: Deploy
        env:
          DEPLOY_KEY: ${{ secrets.DEPLOY_KEY }}
        run: yarn ember deploy production --verbose --activate

  publish:
    name: Release
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/master'
    needs: [tests_ember_compat, lint]

    steps:
      - uses: actions/checkout@v2
      - uses: volta-cli/action@v1
      - run: yarn install

      - name: Release
        env:
          GITHUB_TOKEN: ${{ secrets.GH_PAT }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: yarn semantic-release
